
<app-header titulo="Card"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>

    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga totam quod eaque consectetur dolorum cum quasi maxime fugiat atque. Assumenda accusamus quas rem sit, recusandae natus ad iusto dolores magni.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam in quidem totam consequuntur expedita, quasi maxime nisi! Magnam delectus ratione facere, repudiandae reiciendis odio eveniet nemo aut, impedit quo assumenda.
    </ion-card-content>
    
  </ion-card>

</ion-content>
